<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Checkout>
            <version>1.0.0</version>
        </Shelterlogic_Checkout>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Shelterlogic_Checkout_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>