<?xml version="1.0"?>
<config>
    <modules>
        <Americaneagle_Totalogistix>
            <version>1.0.2</version>
        </Americaneagle_Totalogistix>
    </modules>
    <global>
        <blocks>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Block</class>
            </americaneagle_totalogistix>
        </blocks>
        <helpers>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Helper</class>
            </americaneagle_totalogistix>
        </helpers>
        <models>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Model</class>
            </americaneagle_totalogistix>
            <americaneagle_totalogistix_zip>
                <class>Americaneagle_Totalogistix_Model_Resource</class>
                <resourceModel>americaneagle_totalogistix_zip_resource</resourceModel>
            </americaneagle_totalogistix_zip>
            <americaneagle_totalogistix_zip_resource>
                <entities>
                    <zip>
                        <table>ae_totalogistix_zipcode</table>
                    </zip>
                </entities>
            </americaneagle_totalogistix_zip_resource>

            <!--<sales>-->
                <!--<rewrite>-->
                    <!--<quote_address>Americaneagle_Totalogistix_Model_Quote_Address</quote_address>-->
                <!--</rewrite>-->
            <!--</sales>-->
            <directory_resource>
                <rewrite>
                    <region_collection>Americaneagle_Totalogistix_Model_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
            <enterprise_cataloginventory>
                <rewrite>
                    <index_observer>Americaneagle_Totalogistix_Model_Index_Observer</index_observer>
                </rewrite>
            </enterprise_cataloginventory>
        </models>
        <resources>
            <americaneagle_totalogistix_setup>
                <setup>
                    <module>Americaneagle_Totalogistix</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </americaneagle_totalogistix_setup>
            <zip_database>
                <setup>
                    <module>Americaneagle_Totalogistix</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </zip_database>
        </resources>
        <!--<events>-->
            <!--<catalog_product_collection_load_after>-->
                <!--<observers>-->
                    <!--<tlx_before_product_load>-->
                        <!--<class>americaneagle_totalogistix/observer</class>-->
                        <!--<method>afterLoadProductCollection</method>-->
                    <!--</tlx_before_product_load>-->
                <!--</observers>-->
            <!--</catalog_product_collection_load_after>-->
        <!--</events>-->
    </global>
    <!--<frontend>-->
        <!--<events>-->
            <!--<sales_quote_address_collect_totals_before>-->
                <!--<observers>-->
                    <!--<sales_customer_validate_vat_number>-->
                        <!--<class>americaneagle_totalogistix/observer</class>-->
                        <!--<method>beforeCollectTotals</method>-->
                    <!--</sales_customer_validate_vat_number>-->
                <!--</observers>-->
            <!--</sales_quote_address_collect_totals_before>-->
        <!--</events>-->
    <!--</frontend>-->
    <default>
        <carriers>
            <totalogistix>
                <active>1</active>
                <model>americaneagle_totalogistix/carrier</model>
                <title>TOTALogistix</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </totalogistix>
        </carriers>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <totalogistix>
                    <file>americaneagle/totalogistix.xml</file>
                </totalogistix>
            </updates>
        </layout>
    </adminhtml>
</config>