<?xml version="1.0"?>
<config>
    <modules>
        <Americaneagle_Totalogistix>
            <version>1.0.0</version>
        </Americaneagle_Totalogistix>
    </modules>
    <global>
        <blocks>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Block</class>
            </americaneagle_totalogistix>
        </blocks>
        <helpers>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Helper</class>
            </americaneagle_totalogistix>
        </helpers>
        <models>
            <americaneagle_totalogistix>
                <class>Americaneagle_Totalogistix_Model</class>
            </americaneagle_totalogistix>
            <sales>
                <rewrite>
                    <quote_address>Americaneagle_Totalogistix_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <directory_resource>
                <rewrite>
                    <region_collection>Americaneagle_Totalogistix_Model_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
        </models>
        <resources>
            <americaneagle_totalogistix_setup>
                <setup>
                    <module>Americaneagle_Totalogistix</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </americaneagle_totalogistix_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <totalogistix>
                <active>1</active>
                <model>americaneagle_totalogistix/carrier</model>
                <title>TOTALogistix</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </totalogistix>
        </carriers>
    </default>
</config>