<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <totalogistix translate="label" module="americaneagle_totalogistix">
                    <label>TOTALogistix</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <service_url translate="label">
                            <label>Service URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_url>
                        <access_id translate="label">
                            <label>Access ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_id>
                        <origin_zip translate="label">
                            <label>Origin Zip</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-zip</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </origin_zip>
                        <lead_time translate="label">
                            <label>Shipping Lead Time</label>
                            <comment>Number of days from order placement to shipping</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lead_time>
                        <accessorial translate="label">
                            <label>Accessorial Items</label>
                            <comment>Select base options</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>americaneagle_totalogistix/accessorial</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accessorial>
                        <logging_enabled>
                            <label>Enabled Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logging_enabled>
                        <version translate="label">
                            <label>Version</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>americaneagle_totalogistix/system_config_form_field_version</frontend_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>

                    </fields>
                </totalogistix>
            </groups>
        </carriers>
    </sections>
</config>