<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Stockimport>
            <version>0.1.0</version>
        </Shelterlogic_Stockimport>
    </modules>
    <global>
        <models>
            <stockimport>
                <class>Shelterlogic_Stockimport_Model</class>
                <resourceModel>stockimport_resource</resourceModel>
            </stockimport>
            <stockimport_resource>
                <class>Shelterlogic_Stockimport_Model_Resource</class>
            </stockimport_resource>
        </models>
        <helpers>
            <stockimport>
                <class>Shelterlogic_Stockimport_Helper</class>
            </stockimport>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <shelterlogic_stock_import>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>stockimport/observer::import</model>
                </run>
            </shelterlogic_stock_import>
        </jobs>
    </crontab>
    <default>
        <shelterlogic>
            <stockimport>
                <warehouseid_mapping>
<![CDATA[ATP WTN|1
ATP LKW|2
]]>
                </warehouseid_mapping>
            </stockimport>
        </shelterlogic>
    </default>
</config>