# Created by .gitignore support plugin (hsz.mobi)
var/cache/*
var/full_page_cache/*
var/session
var/log/*
var/locks
var/report/*
var/backups/*
var/import/*
var/importexport/*
var/export/*
var/tmp/
var/raveinfosys/*
var/extendware/*
var/connect/*
mergedconfig.xml
mtest.php
media/catalog/*
media/tmp/*
media/catalog/product/cache/*
media/js/*
media/css/*.css
errors/local.xml
.idea
.DS_Store
app/code/local/Americaneagle/Farmbuildings/Block/Checkout/Renderer.php
#downloader
skin/frontend/farmbuildings/default/HTC/
includes/*
media/wysiwyg/*
var/package/tmp/*
image_collections/images/*
app/code/local/Extendware/*
skin/frontend/farmbuildings/default/bower_components/
skin/frontend/farmbuildings/default/node_modules/
# unfortunately, we need to track these files otherwise new devs cannot pull down a
# working instance of the project
#app/code/local/Varien/Autoload.php
#app/design/adminhtml/default/default/template/extendware/**
#app/etc/modules/Extendware_EWEntityIncrement.xml
#app/locale/en_US/extendware/**
#js/extendware/**
#lib/extendware/**
#shell/extendware/**
#skin/frontend/base/default/extendware/**