# Created by .gitignore support plugin (hsz.mobi)
/var
/mtest.php
/media
/app/etc/local.xml
/app/etc/composer.lock
/app/etc/vendor
/.htaccess

.idea
.DS_Store

#skin/frontend/farmbuildings/default/HTC/
/includes
/image_collections/images/*
#app/code/local/Extendware/*
skin/frontend/farmbuildings/default/bower_components/
skin/frontend/farmbuildings/default/node_modules/
# unfortunately, we need to track these files otherwise new devs cannot pull down a
# working instance of the project
#app/code/local/Varien/Autoload.php
#app/design/adminhtml/default/default/template/extendware/**
#app/etc/modules/Extendware_EWEntityIncrement.xml
#app/locale/en_US/extendware/**
#js/extendware/**
#lib/extendware/**
#shell/extendware/**
#skin/frontend/base/default/extendware/**
