<?xml version="1.0"?>
<config>
    <modules>
        <Americaneagle_Visual>
            <version>1.0.0</version>
        </Americaneagle_Visual>
    </modules>
    <global>
        <helpers>
            <americaneagle_visual>
                <class>Americaneagle_Visual_Helper</class>
            </americaneagle_visual>
        </helpers>
        <models>
            <americaneagle_visual>
                <class>Americaneagle_Visual_Model</class>
                <resourceModel>americaneagle_visual_soaplog_resource</resourceModel>
            </americaneagle_visual>
            <americaneagle_visual_soaplog_resource>
                <class>Americaneagle_Visual_Model_Resource</class>
                <entities>
                    <soaplog>
                        <table>ae_visual_soaplog</table>
                    </soaplog>
                </entities>
            </americaneagle_visual_soaplog_resource>
        </models>
        <resources>
            <americaneagle_visual_setup>
                <setup>
                    <module>Americaneagle_Visual</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </americaneagle_visual_setup>
            <ae_visual_soaplog>
                <setup>
                    <module>Americaneagle_Visual</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ae_visual_soaplog>
        </resources>
    </global>
    <crontab>
        <jobs>
            <americaneagle_visual>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>americaneagle_visual/observer::pushOrders</model></run>
            </americaneagle_visual>
        </jobs>
    </crontab>
    <default>
        <aevisual>
            <general>
                <soaplog>1</soaplog>
            </general>
        </aevisual>
    </default>
</config>