<?xml version="1.0"?>
<config>
    <modules>
        <Americaneagle_Visual>
            <version>1.0.4</version>
        </Americaneagle_Visual>
    </modules>
    <global>
        <blocks>
            <americaneagle_visual>
                <class>Americaneagle_Visual_Block</class>
            </americaneagle_visual>
        </blocks>
        <helpers>
            <americaneagle_visual>
                <class>Americaneagle_Visual_Helper</class>
            </americaneagle_visual>
            <avatax>
                <rewrite>
                    <data>Americaneagle_Visual_Helper_Rewrite_AvaTax_Data</data>
                </rewrite>
            </avatax>
        </helpers>
        <models>
            <americaneagle_visual>
                <class>Americaneagle_Visual_Model</class>
                <resourceModel>americaneagle_visual_soaplog_resource</resourceModel>
            </americaneagle_visual>
            <americaneagle_visual_soaplog_resource>
                <class>Americaneagle_Visual_Model_Resource</class>
                <entities>
                    <soaplog>
                        <table>ae_visual_soaplog</table>
                    </soaplog>
                </entities>
            </americaneagle_visual_soaplog_resource>
        </models>
        <resources>
            <americaneagle_visual_setup>
                <setup>
                    <module>Americaneagle_Visual</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </americaneagle_visual_setup>
            <ae_visual_soaplog>
                <setup>
                    <module>Americaneagle_Visual</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ae_visual_soaplog>
        </resources>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <admin>
                        <class>americaneagle_visual/observer</class>
                        <method>getDataFromVisual</method>
                    </admin>
                </observers>
            </customer_customer_authenticated>
        </events>
    </global>
    <crontab>
        <jobs>
            <americaneagle_visual_customersync>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>americaneagle_visual/task_customersync::run</model></run>
            </americaneagle_visual_customersync>
            <americaneagle_visual_ordersync>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>americaneagle_visual/task_ordersync::run</model></run>
            </americaneagle_visual_ordersync>
            <americaneagle_visual_pricesync>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>americaneagle_visual/task_pricesync::run</model></run>
            </americaneagle_visual_pricesync>
            <americaneagle_visual>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>americaneagle_visual/observer::pushOrders</model>
                </run>
            </americaneagle_visual>
            <ae_soaplog_clean>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>americaneagle_visual/observer::cleanSoaplog</model>
                </run>
            </ae_soaplog_clean>
        </jobs>
    </crontab>
    <default>
        <aevisual>
            <general>
                <enabled>0</enabled>
                <service_host>https://slvisual.shelterlogicdirect.com/derp/</service_host>
                <external_ref_group>FB</external_ref_group>
                <currency_id>USD</currency_id>
                <terms_id>CREDIT CARD</terms_id>
                <entity_id>100</entity_id>
                <site_id>100</site_id>
                <sales_rep_id>HOUSE</sales_rep_id>
                <territory>WEB</territory>
                <warehouse_id>SHELTERLOGIC</warehouse_id>
                <force_warehouse>0</force_warehouse>
                <fob>WATERTOWN</fob>
                <general_group_id>1</general_group_id>
                <exclusive_group_id>4</exclusive_group_id>
            </general>
            <logging>
                <soaplog>1</soaplog>
                <soaplog_ttl>0</soaplog_ttl>
            </logging>
        </aevisual>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Americaneagle_Visual after="Mage_Adminhtml">Americaneagle_Visual_Adminhtml</Americaneagle_Visual>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <americaneagle_visual>
                    <file>americaneagle/visual.xml</file>
                </americaneagle_visual>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <!--Note: if you name your 'observer' node the same as some other -->
                    <!--observer, for example instead of 'visual_catalog_rule', you use -->
                    <!--'catalogrule', this node will effectively "rewrite" the core -->
                    <!--'catalogrule' observer.-->
                    <visual_catalogrule>
                        <class>americaneagle_visual/priceobserver</class>
                        <method>processFrontFinalPrice</method>
                    </visual_catalogrule>
                </observers>
            </catalog_product_get_final_price>
            <prepare_catalog_product_collection_prices>
                <observers>
                    <!--Note: this observer has the same node name as the observer above. these-->
                    <!--only need to be unique on a per event handler basis.-->
                    <visual_catalogrule>
                        <class>americaneagle_visual/priceobserver</class>
                        <method>prepareCatalogProductCollectionPrices</method>
                    </visual_catalogrule>
                </observers>
            </prepare_catalog_product_collection_prices>
            <catalog_block_product_list_collection>
                <observers>
                    <visual_pricing>
                        <class>americaneagle_visual/priceobserver</class>
                        <method>addVisualPriceRulesToCollection</method>
                    </visual_pricing>
                </observers>
            </catalog_block_product_list_collection>
            <!--<sales_quote_add_item>-->
                <!--<observers>-->
                    <!--<visual_quote>-->
                        <!--<class>americaneagle_visual/priceobserver</class>-->
                        <!--<method>salesQuoteAddItem</method>-->
                    <!--</visual_quote>-->
                <!--</observers>-->
            <!--</sales_quote_add_item>-->
        </events>
    </frontend>
</config>

