<config>
    <modules>
        <Americaneagle_SchedulerExtensions>
            <version>0.1.0</version>
        </Americaneagle_SchedulerExtensions>
    </modules>
    <global>
        <blocks>
            <americaneagle_schedulerExtensions>
                <class>Americaneagle_SchedulerExtensions_Block</class>
            </americaneagle_schedulerExtensions>
        </blocks>
        <models>
            <americaneagle_schedulerExtensions>
                <class>Americaneagle_SchedulerExtensions_Model</class>
                <resourceModel>americaneagle_schedulerExtensions_resource</resourceModel>
            </americaneagle_schedulerExtensions>
            <americaneagle_schedulerExtensions_resource>
                <class>Americaneagle_SchedulerExtensions_Model_Resource</class>
            </americaneagle_schedulerExtensions_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Americaneagle_SchedulerExtensions
                                after="Aoe_Scheduler_Adminhtml">Americaneagle_SchedulerExtensions_Adminhtml</Americaneagle_SchedulerExtensions>
                    </modules>
                </args>
            </adminhtml>
            <cronlog>
                <use>admin</use>
                <args>
                    <frontName>adminhtml</frontName>
                    <module>Americaneagle_SchedulerExtensions_Adminhtml</module>
                </args>
            </cronlog>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <americaneagle_schedulerExtensions>
                    <file>americaneagle/scheduler_extensions.xml</file>
                </americaneagle_schedulerExtensions>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <americaneagle_schedulerExtensions_testcron>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>americaneagle_schedulerExtensions/observer::testcron</model>
                </run>
            </americaneagle_schedulerExtensions_testcron>
        </jobs>
    </crontab>
</config>