<config>
    <modules>
        <Americaneagle_SchedulerExtensions>
            <version>0.1.0</version>
        </Americaneagle_SchedulerExtensions>
    </modules>
    <global>
        <blocks>
            <americaneagle_schedulerExtensions>
                <class>Americaneagle_SchedulerExtensions_Block</class>
            </americaneagle_schedulerExtensions>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Americaneagle_SchedulerExtensions after="Aoe_Scheduler_Adminhtml">Americaneagle_SchedulerExtensions_Adminhtml</Americaneagle_SchedulerExtensions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <americaneagle_schedulerExtensions>
                    <file>americaneagle/scheduler_extensions.xml</file>
                </americaneagle_schedulerExtensions>
            </updates>
        </layout>
    </adminhtml>

</config>