<?xml version="1.0"?>
<config>
    <modules>
        <Home_page>
            <version>0.1.0</version>
        </Home_page>
    </modules>
    <global>
        <page>
            <layouts>
                <columns2category module="page" translate="label">
                    <label>2 column category</label>
                    <template>page/2columns-category-left.phtml</template>
                    <layout_handle>2columns-category-left.phtml</layout_handle>
                </columns2category>
                <!-- add more layouts here -->
            </layouts>
        </page>
    </global>
</config>