<?xml version="1.0"?>
<config>
    <modules>
        <Americaneagle_Farmbuildings>
            <version>1.0.0</version>
        </Americaneagle_Farmbuildings>
    </modules>
    <global>
        <helpers>
            <farmbuildings>
                <class>Americaneagle_Farmbuildings_Helper</class>
            </farmbuildings>
        </helpers>
        <blocks>
            <americaneagle_farmbuildings>
                <class>Americaneagle_Farmbuildings_Block</class>
            </americaneagle_farmbuildings>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Americaneagle_Farmbuildings_Block_Product_View_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <onepage>Americaneagle_Farmbuildings_Block_Checkout_Onepage</onepage>
                    <!--<cart_item_renderer_configurable>Americaneagle_Farmbuildings_Block_Checkout_Renderer</cart_item_renderer_configurable>-->
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <americaneagle_farmbuildings>
                <class>Americaneagle_Farmbuildings_Model</class>
                <resourceModel>americaneagle_farmbuildings_resource</resourceModel>
            </americaneagle_farmbuildings>
            <americaneagle_farmbuildings_resource>
                <class>Americaneagle_Farmbuildings_Model_Resource</class>
            </americaneagle_farmbuildings_resource>
            <catalog>
                <rewrite>
                    <product_type_configurable>Americaneagle_Farmbuildings_Model_Product_Type_Configurable</product_type_configurable>
                    <product_type_configurable_price>Americaneagle_Farmbuildings_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <routers>
            <fbconfig>
                <use>standard</use>
                <args>
                    <module>Americaneagle_Farmbuildings</module>
                    <frontName>fbconfig</frontName>
                </args>
            </fbconfig>
            <checkout>
                <args>
                    <modules>
                        <americaneagle_farmbuildings before="Mage_Checkout">Americaneagle_Farmbuildings_Checkout</americaneagle_farmbuildings>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>