<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Wishlist>
            <version>0.1.0</version>
        </Shelterlogic_Wishlist>
    </modules>
    <global>
        <models>
            <shelterlogic_wishlist>
                <class>Shelterlogic_Wishlist_Model</class>
                <resourceModel>shelterlogic_wishlist_resource</resourceModel>
            </shelterlogic_wishlist>
            <shelterlogic_wishlist_resource>
                <class>Shelterlogic_Wishlist_Model_Resource</class>
            </shelterlogic_wishlist_resource>
        </models>
        <blocks>
            <shelterlogic_wishlist>
                <class>Shelterlogic_Wishlist_Block</class>
            </shelterlogic_wishlist>
        </blocks>
        <helpers>
            <shelterlogic_wishlist>
                <class>Shelterlogic_Wishlist_Helper</class>
            </shelterlogic_wishlist>
        </helpers>
    </global>
    <frontend>
        <routers>
            <shelterlogic_wishlist>
                <use>standard</use>
                <args>
                    <frontName>slwishlist</frontName>
                    <module>Shelterlogic_Wishlist</module>
                </args>
            </shelterlogic_wishlist>
        </routers>
    </frontend>
</config>