<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_PaymentTerms>
            <version>0.1.0</version>
        </Shelterlogic_PaymentTerms>
    </modules>
    <global>
        <models>
            <paymentterms>
                <class>Shelterlogic_PaymentTerms_Model</class>
                <resourceModel>paymentterms_resource</resourceModel>
            </paymentterms>
            <paymentterms_resource>
                <class>Shelterlogic_PaymentTerms_Model_Resource</class>
            </paymentterms_resource>
            <acimpro>
                <rewrite>
                    <paymentMethod>Shelterlogic_PaymentTerms_Model_Rewrite_Acimpro_PaymentMethod</paymentMethod>
                </rewrite>
            </acimpro>
        </models>
        <blocks>
            <paymentterms>
                <class>Shelterlogic_PaymentTerms_Block</class>
            </paymentterms>
        </blocks>
        <helpers>
            <paymentterms>
                <class>Shelterlogic_PaymentTerms_Helper</class>
            </paymentterms>
        </helpers>
    </global>
    <default>
        <shelterlogic>
            <payment_terms>
                <net><![CDATA[NET10
NET30
NET60]]></net>
                <creditcard><![CDATA[CREDIT CARD]]></creditcard>
            </payment_terms>
        </shelterlogic>
    </default>
</config>