<?xml version="1.0"?>
<config>
    <sections>
        <shelterlogic>
            <groups>
                <payment_terms>
                    <label>B2B Payment Terms ID Setting</label>
                    <sort_order>80</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <net>
                            <label>NET payment</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            List of Term ID for NET payment, one value per line
                            ]]></comment>
                        </net>
                        <creditcard>
                            <label>Credit Card payment</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            List of Term ID for Credit Card payment, one value per line
                            ]]></comment>
                        </creditcard>
                    </fields>
                </payment_terms>
            </groups>
        </shelterlogic>
    </sections>
</config>