<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Orderprefix>
            <version>0.1.0</version>
        </Shelterlogic_Orderprefix>
    </modules>
    <global>
        <models>
            <orderprefix>
                <class>Shelterlogic_Orderprefix_Model</class>
                <resourceModel>orderprefix_resource</resourceModel>
            </orderprefix>
            <orderprefix_resource>
                <class>Shelterlogic_Orderprefix_Model_Resource</class>
            </orderprefix_resource>
            <!-- Magento Core does not have collection for entity_store, rewrite works anyway -->
            <eav_resource>
                <rewrite>
                    <entity_store_collection>Shelterlogic_Orderprefix_Model_Resource_Entity_Store_Collection</entity_store_collection>
                </rewrite>
            </eav_resource>
            <eav>
                <rewrite>
                    <entity_type>Shelterlogic_Orderprefix_Model_Eav_Entity_Type</entity_type>
                </rewrite>
            </eav>
        </models>
        <helpers>
            <orderprefix>
                <class>Shelterlogic_Orderprefix_Helper</class>
            </orderprefix>
        </helpers>
        <resources>
            <orderprefix_setup>
                <setup>
                    <module>Shelterlogic_Orderprefix</module>
                </setup>
            </orderprefix_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shelterlogic>
                                            <title>ShelterLogic Settings</title>
                                        </shelterlogic>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <shelterlogic>
            <orderprefix>
                <order></order>
                <startnumber></startnumber>
            </orderprefix>
        </shelterlogic>
    </default>
    <websites>
        <base>
            <shelterlogic>
                <orderprefix>
                    <order>FB</order>
                    <startnumber></startnumber>
                </orderprefix>
            </shelterlogic>
        </base>
        <shelterlogic>
            <shelterlogic>
                <orderprefix>
                    <order>W</order>
                    <startnumber></startnumber>
                </orderprefix>
            </shelterlogic>
        </shelterlogic>
    </websites>
</config>