<?xml version="1.0"?>
<config>
  <modules>
    <Shelterlogic_Templates>
      <version>0.1.0</version>
    </Shelterlogic_Templates>
  </modules>
  <global>
    <page>
      <layouts>
        <page_configurator_layout translate="label">
          <label>All Configurator Style Layout Pages</label>
          <template>page/configurator.phtml</template>
          <layout_handle>configurator_layout</layout_handle>
        </page_configurator_layout>
        <page_simple_configurator_layout translate="label">
          <label>All Simple Configurator Style Layout Pages</label>
          <template>page/simple-configurator.phtml</template>
          <layout_handle>simple_configurator_layout</layout_handle>
        </page_simple_configurator_layout>
        <page_home_layout translate="label">
          <label>All Home Style Layout Pages</label>
          <template>page/home.phtml</template>
          <layout_handle>home_layout</layout_handle>
        </page_home_layout>
        <columns2category module="page" translate="label">
          <label>2 column category</label>
          <template>page/2columns-category-left.phtml</template>
          <layout_handle>2columns-category-left.phtml</layout_handle>
        </columns2category>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
</config>