<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Templates>
            <version>0.1.0</version>
        </Shelterlogic_Templates>
    </modules>
    <global>
        <page>
            <layouts>
                <page_configurator_layout translate="label">
                    <label>All Configurator Style Layout Pages</label>
                    <template>page/configurator.phtml</template>
                    <layout_handle>configurator_layout</layout_handle>
                </page_configurator_layout>
                <page_simple_configurator_layout translate="label">
                    <label>All Simple Configurator Style Layout Pages</label>
                    <template>page/simple-configurator.phtml</template>
                    <layout_handle>simple_configurator_layout</layout_handle>
                </page_simple_configurator_layout>
                <page_home_layout translate="label">
                    <label>All Home Style Layout Pages</label>
                    <template>page/home.phtml</template>
                    <layout_handle>home_layout</layout_handle>
                </page_home_layout>
                <!--<columns2category module="page" translate="label">-->
                <!--<label>2 column category</label>-->
                <!--<template>page/2columns-category-left.phtml</template>-->
                <!--&lt;!&ndash;<layout_handle>2columns-category-left.phtml</layout_handle>&ndash;&gt;-->
                <!--</columns2category>-->
                <!-- add more layouts here -->
            </layouts>
        </page>
        <blocks>
            <shelterlogic_templates>
                <class>Shelterlogic_Templates_Block</class>
            </shelterlogic_templates>
        </blocks>
        <helpers>
            <shelterlogic_templates>
                <class>Shelterlogic_Templates_Helper</class>
            </shelterlogic_templates>
        </helpers>
        <models>
            <shelterlogic_templates>
                <class>Shelterlogic_Templates_Model</class>
            </shelterlogic_templates>
        </models>
    </global>
    <default>
        <shelterlogic>
            <product_detail>
                <marketing_title><![CDATA[Features & Benefits]]></marketing_title>
                <marketing_description><![CDATA[Big Quality Features. Value Priced. Learn more about Shed-in-a-Box<sup>&reg;</sup>.]]></marketing_description>
            </product_detail>
            <update_handle_logging>
                <logging_enabled>0</logging_enabled>
            </update_handle_logging>
        </shelterlogic>
    </default>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <enterprise_checkout>
                        <class>shelterlogic_templates/observer</class>
                        <method>beforeBlocksGenerate</method>
                    </enterprise_checkout>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>
    </frontend>
</config>