<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_Scene7>
            <version>0.1.2</version>
        </Shelterlogic_Scene7>
    </modules>
    <global>
        <models>
            <scene7>
                <class>Shelterlogic_Scene7_Model</class>
                <resourceModel>scene7_resource</resourceModel>
            </scene7>
            <scene7_resource>
                <class>Shelterlogic_Scene7_Model_Resource</class>
            </scene7_resource>
        </models>
        <blocks>
            <scene7>
                <class>Shelterlogic_Scene7_Block</class>
            </scene7>
            <catalog>
                <rewrite>
                    <product_view_media>Shelterlogic_Scene7_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <scene7>
                <class>Shelterlogic_Scene7_Helper</class>
            </scene7>
            <catalog>
                <rewrite>
                    <image>Shelterlogic_Scene7_Helper_Catalog_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <scene7_setup>
                <setup>
                    <module>Shelterlogic_Scene7</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </scene7_setup>
        </resources>
    </global>
    <default>
        <shelterlogic>
            <scene7>
                <enabled>0</enabled>
            </scene7>
        </shelterlogic>
    </default>
    <websites>
        <shelterlogic>
            <shelterlogic>
                <scene7>
                    <enabled>1</enabled>
                </scene7>
            </shelterlogic>
        </shelterlogic>
    </websites>
</config>