<?xml version="1.0"?>
<config>
    <modules>
        <Shelterlogic_SearchProducts>
            <version>0.0.1</version>
        </Shelterlogic_SearchProducts>
    </modules>

    <frontend>
         <events>
             <controller_action_layout_load_before>
                  <observers>
                      <customhandles>
                          <class>Shelterlogic_SearchProducts_Model_Observer</class>
                          <method>addCustomHandles</method>
                      </customhandles>
                  </observers>
             </controller_action_layout_load_before>
         </events>
        <!--catalog_controller_product_view-->
        <!--core_collection_abstract_load_before-->
     </frontend>

</config>