<config>
    <modules>
        <Americaneagle_Ldap>
            <version>0.1.0</version>
        </Americaneagle_Ldap>
    </modules>
    <global>
        <models>
            <admin>
                <rewrite>
                    <user>Americaneagle_Ldap_Model_User</user>
                </rewrite>
            </admin>
        </models>
    </global>
    <default>
        <ae_settings>
            <ldap>
                <ldap_server><![CDATA[10.198.100.21]]></ldap_server>
                <ldap_domain><![CDATA[AE]]></ldap_domain>
                <ldap_dn><![CDATA[OU=Domain Users,DC=ae,DC=local]]></ldap_dn>
            </ldap>
        </ae_settings>
    </default>
</config>