// extend foundation
.off-canvas-wrap {
	position:absolute;
	z-index:99999999;
	overflow: visible;
}
// add media queries

// google webfonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Oswald:400,300,700);


p {
	line-height: 1.4;
}
$nav-bg: rgba(0,0,0,.4);
@mixin oswald() {
	font-family: 'Oswald', sans-serif;
	//letter-spacing:1px;
}
@mixin lato() {
	font-family: 'Lato', sans-serif;
}
// spacing
@mixin spacing () {
	padding: 0 rem-calc(12) rem-calc(8) rem-calc(12);
	margin-bottom: rem-calc(8);
	border-bottom: 1px solid #DDDDDD;
	&:last-child {
		//padding: 0 rem-calc(12) rem-calc(8) rem-calc(12);
		margin-bottom: 0;
		border-bottom: 0px;
	}
}
// link-color
@mixin link-color () {
	color: $shelter-blue;
	//text-shadow: 0px 0px 7px #000;
}
//text-center
@mixin textCenter() {
				text-align: center;
			}
// rotate
@mixin transform-rotate($deg) {
	transform:rotate($deg);
	-ms-transform:rotate($deg); /* IE 9 */
	-webkit-transform:rotate($deg); /* Opera, Chrome, and Safari */	
}
// table 
@mixin table() {
	table {
		background: none;
		border:0px;
		&.warrantyTable {
			width:100%;
		}
		tr {
			&.even, &.alt, &:nth-of-type(even) {
				background:none;
			}
			th {
				@include oswald;
				font-weight: 300;
				text-transform: uppercase;
				color:$shelter-yellow;
				font-size: rem-calc(24);
				padding: 18px 0 18px;
				border-top:1px solid $grey;
				text-align: left;
				&:first-child {
					width:40%;
				}
				&:nth-child(2), &:nth-child(3), &:last-child {
					width: 20%;
					text-align: center;
				}
			}
			td {
				font-size: rem-calc(14);
				color: $light-grey;
				text-align: center;
				border-top:1px solid $grey;
				padding: 18px 0;
				h3 {
					@include oswald;
					text-transform: uppercase;
					font-size: rem-calc(18);
					margin: 0;
				}
				p {
					font-size: rem-calc(14);
					border-bottom:0px;
					margin: 0;
					padding:0;
				}
				&:first-child {
					text-align: left;
				}
			}
		}
		&.infoWarranty {
			margin-top:10px;
			th {
				font-size: rem-calc(18);
				border-top: 0px;

			}
			th, td {
				padding: 10px 0 10px;
			}
			td {
				@include lato;
				font-size: rem-calc(13);
				
				strong {
					color: #ffffff;
				}
			}
		}

	}
}
//@mixin centering
@mixin centering($CV1, $C1, $CV2, $CV3) {
	@media #{$medium-down} {
		&.centerVertical {
			position: absolute;
			top: $CV1;
			font-size: rem-calc(22);
			color: #fff;
			text-shadow: 1px 1px 0px #000;
		}
		&.centerHorizontal {
			left: $CV1;
			right:auto !important;
		}
		&.centerCenter {
			position: absolute;
			top: $CV1;
			left: $CV1;
			font-size: 15px;
			color: #fff;
			text-shadow: 1px 1px 0px #000;
		}
		&.center {
			position: absolute;
			font-size: rem-calc(22);
			color: #fff;
			text-shadow: 1px 1px 0px #000;
			top: $C1;
			margin-top: rem-calc(-18);
		}
	}
	@media #{$small-only} {
		&.centerVertical {
			top: $CV2;
			font-size: rem-calc(18);
		}
		&.centerHorizontal {
			left: $CV2;
		}
	}
	@media #{$large-up} {
		&.centerVertical {
			position: absolute;
			top: $CV3;
			font-size: 25px;
			color: #fff;
			text-shadow: 1px 1px 0px #000;
		}
		&.centerHorizontal {
			left: $CV3;
			right:auto !important;
		}
		&.centerCenter {
			position: absolute;
			top: $CV3;
			left: $CV3;
			font-size: 25px;
			color: #fff;
			text-shadow: 1px 1px 0px #000;
		}
		&.center {
			position: absolute;
			font-size: 25px;
			color: #fff;
			text-shadow: 1px 1px 0px #000;
			top: $C1;
			margin-top: rem-calc(-18);
		}
	}
}
// box shadow
@mixin box-shadow() {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

@mixin thumb_radius() {
	-webkit-border-radius:      100px;
       -moz-border-radius:  	100px;
        	border-radius:      100px;

	-webkit-background-clip:    padding-box; 
	   -moz-background-clip:    padding; 
	        background-clip:    padding-box;

	behavior: url('../HTC/PIE/PIE.htc');
}
@mixin thumb_border() {
	border: 1px solid #fff;
	box-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})" !default;
$large-down: "#{$screen} and (max-width:#{upper-bound($large-range)})" !default;
$small-down: "#{$screen} and (max-width:#{upper-bound($small-range)})" !default;
$styletext-down: "#{$screen} and (max-width:1190px)" !default;

//*{box-sizing: border-box;}

// html {
// 	display:none;
// }
// stop widow overflow
body {
	input, a, select, textarea, button, .btn, .button {
		outline: none
	}
	i {
		text-decoration: normal !important;
	}
	.tab-bar {
		position: fixed;
		top: 0;
		left:0;
		width: 100%;
	}
	&.product-sp-series-shelter {
		overflow:hidden;
		.page {
			display: none;
		}
		.tab-bar {
			position: relative;
		}
			//background:url(../images/src/backgrounds/horse-medium-30.jpg) center center no-repeat;
		&.mobile { 
			background:url(../images/src/backgrounds/horse-medium-30-mobile.jpg) center center no-repeat; 
		}
		&.desktop { 
			background:url(../images/src/backgrounds/farm-background-1200.jpg) center center no-repeat; 
			background-size:cover;
			@media #{$medium-down} {
				background:url(../images/src/backgrounds/farm-background-1200.jpg) center bottom no-repeat; 
				background-size:cover;
			}
		}
	}
	.page {
		padding-top: 45px;
	}
	&.product-sp-series-shelter {@include new_opacity(0);}
	@include oswald;
	font-size: 1em;
	
	background-size:cover;

	
	button, .button, .button2 {
		@include oswald;
		background-color:#fff;
		color:$shelter-grey;
		border:2px solid $light-grey;
		padding-top:rem-calc(12);
		padding-bottom:rem-calc(12);
		&.selected, &:hover, &.active {
			background-color:$shelter-yellow;
			color:#fff;
			border: 2px solid $shelter-yellow;
		}
	}
	.button.disabled, button.disabled, .button.disabled:hover, button.disabled:hover {
		background-color:#fff;
		color:$shelter-grey;
		border:2px solid $light-grey;
	}


	
	button.button2, .button2.check-gc-status {
		background-color:$shelter-yellow;
		border: 2px solid $shelter-yellow;
		padding: 1px 5px;
		span, span span {
			line-height:1;
			height: auto;
			text-decoration: underline;
			text-transform: uppercase;
			display: inline-block;
			color: $shelter-grey;
			@include oswald;
			padding: 5px;
			
			text-decoration: none;
		}
		&.selected, &:hover, &.active {
			background-color:#fff;
			color:$shelter-grey;
			border: 2px solid #fff;
			span, span span {
				color: $shelter-grey;
				text-decoration: none;
			}
		}
	}



	p {
		@include lato;
		font-size: 1.08rem;
	}
	.panel {
		p {
			line-height: 1;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		@include oswald;
	}
	a {
		color: $shelter-blue;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		@include lato;
	}
	&.pace-running {

		.inner-wrap {
			.elements {
				&.leftSide { left: -999px; }
				&.rightSide { right: -999px; }
			}
		}
		#building, .off-canvas-wrap {
			@include new_opacity(0);
			overflow: hidden;
		}
	}
	.preload {
		display: none;
	}
	// form for local testing
	.form {
		
		width:100%;
		height: auto;
		max-height: 500px;
		padding:0;
		background:#fff;
		position:absolute;
		@include simple-transition(all,500ms);
		top:0;
		left: -999999px;
		overflow-x: auto;
		overflow-y:hidden;
		@include box-shadow;
		&.show {
			// dev
			// left: 300px;
			// production
			left:0;
			position:inherit;
		}
		.product-view {
			padding:0;
			background:none;
		}
		.product-img-box, .product-name, #mainPrice, .extra-info, .product-options-bottom, .product-collateral, .messages_product_view, .add-to-cart-wrapper {
			display: none !important;
		}
		.product-view .product-shop, .product-img-box, .product-collateral, .product-view .block-related, .box-collateral {
			margin: 0;
			padding: 0;
		}
		.product-view .product-shop {
			width: 100%;
			float: none;
		}
		
		.product-options {
			margin: 0;
			padding-bottom: 0px;
			border: 0;
			dl {
				@media #{$medium-down} {
					
				}
				margin: 0;
				dd {
					padding: 0;
					margin: 0;
					border-bottom: 0;
					select {
						margin: 0;
					}
				}
				@media #{$medium-down} {
					margin-bottom: 10px; 
					dt {
						display: inline-block;
						width: 15%;

					}
					dd {
						display: inline-block;
						width: 25%;
						margin-right: 4%
					}
				}
				@media #{$small-down} {
					dt {
						width: 40%;

					}
					dd {
						display: inline-block;
						width: 55%;
						margin-right: 4%
					}
				}
			}
			
		}
		#showForm {

			//position:absolute;
			//left:-150px;
			//top: 45px;
		}
		table {
			width:100%;
		}
		div.showInfo {
			padding:10px;
		}
		@media (max-height:818px) {
			select {
				padding:.2rem;
				font-size: .7rem;
				height: auto;
			}
			label {
				font-size: .7rem;
				line-height: normal;
			}
		}
	}
	.skip-link {
		background:none;
		border-right: 0px !important;
	}
	// customize foundation row grid
	.row {
		@include grid-row();
		max-width: 100%;
		.custom-column-class {
			@include grid-column(12);
		}
	}
	&.modalOpen {
		.tab-bar {
			#mainLogo {
				visibility: hidden;
			}
		}
	}
	.inner-wrap {
		// top bar
		#loader {
			position: absolute;
			left: 47%;
			top: 45%;
			@media #{$small-only} {
				left: 38%;
				top: 35%;
			}
			font-size: rem-calc(100);
			color: $shelter-yellow;
			@include new_opacity(0);
			@include simple-transition(all,200ms);
			&.loading {
				@include new_opacity(.9);
			}
		}
		.tab-bar  {
			background: $nav-bg;
			color: #fff;
			z-index: 99999;
			.left-small, .right-small { border: solid 0px; }
			a {
				text-transform: uppercase;
				color:#fff;
				&:hover {
					@include new_opacity(.7);
				}
			}
			.menu-icon, h1, h2, h3, h4, h5, h6 {
				color: $shelter-grey;
				span::after {
					box-shadow: 0 0px 0 2px #fff,0 7px 0 2px #fff,0 14px 0 2px #fff;
				}
			}
		}
		.off-canvas-list {
			margin-top: 50px;
		}
		.UI {
			cursor:pointer;
			@include simple-transition(all,200ms);;
			@include new_opacity(.99);
			&.button, button & {
				@include new_opacity(.7);
			}
			&:hover, &.active, &.current {
				@include new_opacity(1);
				&.UIInfoClose {
					@include new_opacity(.99);
				}
			}

		} 
		.elements {
			@include simple-transition(all,500ms);
			position:absolute;
			width:100%;
			max-width:100%;
			margin: 0 -15px;
			.timer {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: none; // rgba(255,255,255,.8);
				z-index: 999999999999999999;
				text-align: center;
				box-sizing: border-box;
				//padding: 50% 0;
				min-height: 100%;
				display: none;
				&.show {
					display: block;
				}
			}
			a.startOver {
				text-align: center;
				color: #fff;
				@include new_opacity(.9);
				padding: 10px;
				text-transform: uppercase;
				text-shadow: 0px 0px 5px #000;
				&:hover {
					@include new_opacity(1);
				}
			}
			@media #{$medium-down} {
				&.leftSide {
					bottom:0px;
					height:auto;
					z-index: 1;
					.UITop {
						padding: 7px;
					}
					.UIBottom {
						margin-top: 0;
						border-top: 1px solid #DDDDDD;
					}
				}
				&.rightSide {
					height: 50%;
					z-index: 2;
					top: 15px;
				}
			}
			@media #{$small-only} {
				&.rightSide {
					top: 0px;
				}
			}
			@media #{$large-up} { 
				width:auto;
				max-width: auto;
				margin: auto;
				&.leftSide { top: 20px; left: 35px; }
				&.rightSide { top: 20px; right: 35px; }
			}
			
			$accordion-navigation-padding: rem-calc(12);
			$accordion-navigation-bg-color: none;
			$accordion-navigation-hover-bg-color: #ffffff;
			$accordion-navigation-active-bg-color: #ffffff;
			$accordion-navigation-font-color: #222;
			$accordion-navigation-font-size: rem-calc(13);
			$accordion-navigation-font-family: 'Oswald', sans-serif;

			$accordion-content-padding: $column-gutter/2;
			$accordion-content-active-bg-color:none;

			.accordion {
				@include accordion-container;
				position:relative;
				z-index: 10000;
				&#mobileAccordion {
					.UIBottom {
						margin: 0;
					}
				}
				@media #{$medium-down} {
					width:98%;
					margin: 0 1%;
				}
				@media #{$small-only} {
					width: 100%;
					margin: 0;
				}
				.accordion-navigation  {
					@include accordion-navigation;
					font-weight: 400;
					text-transform: uppercase;
					margin-bottom: 10px !important;
					.info {
						text-transform: none;
					}
				}
				@media #{$medium-down} {
					.accordion-navigation  {
						border: none !important;
						position: absolute;
						box-sizing: border-box;
						.panelnav { 
							display: block;
							width: 33.333%;
							box-sizing: border-box;
							background-color: rgba(255,255,255,.9);
							@include box-shadow;
							position: absolute;
							top: 0;
							padding: 10px;
							z-index: 20000;
							letter-spacing: normal;
							font-size: rem-calc(14) !important;
							@media #{$small-only} {	font-size: rem-calc(11) !important; }
						}
						&:first-child {
							.panelnav { left: 0; }
						}
						&:nth-child(2) {
							.panelnav { 
								left: 33.2%; 
								@media #{$medium-down} { width: 33.6%; } 
								@media #{$small-only} { width: 34.1%; left: 33%; } }
						}
						&:last-child {
							.panelnav { right: 0; border-right: none; }
						}
					}
				}
				.content  {
					@include accordion-content;
					@include simple-transition(all, 500ms);
					text-transform: capitalize;
					font-weight: normal;
					font-size: rem-calc(14);
					padding: 0;
					position:relative;
					z-index: 9;
					span {
						&.cap {
							display:inline;
							text-transform: uppercase;
						}
					}
					.spacing {
						@include spacing;
						@include lato;
						.cap {
							@include oswald;
						}
					}
					.fa {
						&.fa-arrow-up {
							text-align: center;
							background: #ccc;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							padding: 5px 0;
						}
					}
				}
				@media #{$medium-down} {
					.content {
						position:absolute;
						top: 40px;
						@media #{$small-only} {
							top: 37px;
						}
						left: 0;
						width: 100%;
						border: none;
						padding-top: 10px;
						@include box-shadow;
						&.active {
							background-color:rgba(255,255,255,1);
						}
						.spacing {
							// padding-bottom: rem-calc(4);
							&:last-child {
								//padding-bottom:0;
							}
						}
					}
				}
			}
			
			.UITop, .UIBuilderContainer { 
				padding: 14px;
				// border: 1px solid #000;
				background-color:rgba(255,255,255,.9);
				@include box-shadow;
			}
			.UIBuilderContainer {
				border-top:0px;
				position:absolute;
				top: 0;
				@include simple-transition(all,500ms);
				// dev
				// left: 0;
				// production
				left: -999999px;
				&.show { left:0; position:inherit; }
				@media #{$medium-down} {
					margin-bottom: 45px;
				}
			}
			.step {
				font-size: rem-calc(31);
				text-align: center;
				text-transform: uppercase;
				color: $shelter-yellow;
				padding: 10px 0 0 0;
				text-shadow: 2px 4px 6px $shelter-grey;
				@include simple-transition(all, 500);
				.fa {
					display: inline-block;
					margin: -6px 0 0;
					vertical-align: middle;
					font-size: 24px;
				}
			}
			.progress {
				background-color: #efefef;
				border: 2px solid white;
				padding: 0;
				margin-bottom: 0;
				border-radius: 0;
				position: relative;
				margin-top: 10px;
				font-size: rem-calc(12px);
				.meter {
					background-color:$shelter-yellow;
					color: #fff;;
					text-align: center;
					padding: 2px 0;
					border-radius:0;
					position: relative;
					z-index: 999;
					@include simple-transition(all,1000ms);
					&.steps {
						position: absolute;
						top:0px;
						left:0px;
						bottom:0px;
						background-color: rgba(0,0,0,.05);
						color: rgba(0,0,0,.3);
						text-align: right;
						z-index:99;
						padding-right:rem-calc(15px);
						box-sizing:border-box;
					}
				}
			}
			.UITop, .UIBuilderContainer, .UIBottom, {
				width: 100%;
				.showInfo {
					font-size: rem-calc(20);
					margin-right: 4px;
					@include link-color;
					
					&.hide-for-large-up {
						@media #{$medium-down} {
							display: inline-block !important;
							margin-left: 5px;
						}
					}
				}
				a.showInfo {
					font-size: rem-calc(13);
				}
			}
			.UITop {
				//border-bottom: 1px solid;
				span {
					display: block;
					&.attribute {
						text-align: right;
						display: inline;
					}
					&#productTitle, &.calcPrice {
						font-weight: 400;
						font-size: 25px;
						line-height: 28px;
					}
					&.calcPrice { margin: 18px 0; }
					&#shortDesc { font-weight: lighter; color:#ccc; }
				}
				#addToCart {
					color:#fff;
					background-color:$shelter-yellow;
					&.disabled {
						color:$shelter-grey;
						background-color:#fff;
						display: none;
					}
					&:hover {
						background-color: $shelter-yellow;
						border:2px solid $shelter-yellow;
						color: #fff;
					}
				}
			}
			@media #{$large-up} { 
				.UITop, .UIBuilderContainer, .UIBottom {
					width: 246px;
					.calcPrice { font-size:rem-calc(20); }
				}
			}
			@media #{$medium-down} {
				.UITop, .UIBuilderContainer, .UIBottom {
					.mobileColumn {
						width: 31%;
						display: inline-block;
						margin: 0 .5%;
						vertical-align: middle;
						#productTitle, .calcPrice {
							line-height: 1;
							font-size: rem-calc(22) !important;
						}
						.calcPrice { text-align: center; }
						#addToCart { padding: 10px;}
						#shortDesc { color: $shelter-grey; font-size: rem-calc(10) !important; }
					}
				}
				
			}
			
			.UIBottom {
				position:relative;
				margin-top: 10px;
				.spacing { width: 100%; }
				.UIBuilderContainer {
					overflow: hidden;
					max-width: 100%;
					#quickNav {
						position: relative;
						top: -14px;
						z-index: 99999;
						display: none;
						.quickSelect {
							padding: 10px 0 10px;
							text-align: center;
							font-size: 12px;
							border-right: 1px solid #DDDDDD;
							border-bottom: 1px solid #DDDDDD;
							background: #F2F2F2;
							text-transform: uppercase;
							&.active {
								color: $shelter-grey;
							}
							&.current {
								background: $shelter-blue;
								color: #fff;
							}
							&.disable {
								color: $light-grey;
								cursor: default;
							}
						}
					}
					.UIBuilderNav {
						display: block;
						width: 100%;
						// position: relative;
						// z-index: 4;
						span {
							position: relative;
							z-index: 4;
							@media #{$medium-down} {
								position: absolute;
								top: 9px;
								&.left {
									left: 10px;
								}
								&.right {
									right: 10px;
								}
							}
						}
					}
					ul {
						&#UIList {
							margin: 0;
							padding: 0;
							list-style: none;
							position: relative;
							bottom: 0;
							left: 0;
							z-index: 3;
							@include simple-transition(all,200ms);
							li {
								display: inline-block;
								margin: 0px rem-calc(5.5);
								padding: 0;
								vertical-align: top;
								&:first-child {
									margin-left: 0;
								}
								.button + .button {
									margin-left: 0;
								}
								button {
									&:last-child {
										margin-bottom: 0px;
										margin-left: 0;
									}
									&.selected {
										@include new_opacity(1);
									}
								}
								// build_color moved out of UI
								.UISectionTitle {
									display: block;
									text-align: center;
									font-weight: 400;
									text-transform: uppercase;
									margin: -23px 0 20px;
									color: $shelter-blue;
									@media #{$medium-down} {
										margin: -3px 0 15px;
									}
								}
								&#chooseFabricColor {
									button {
										&:last-child {
											margin-bottom:1.25rem;
										}
										&.UI {
											color:#fff;
											border:none;
											&.selected {
												.fa-check {
													// left: 0 !important;
													// right: 0 !important;
													// top: 0 !important;
													// bottom: 0 !important;
													// border-radius: 0 !important;
												}
											}
											@media #{$medium-down} {
												width:12.5%;
												margin-right:1.9%;
												margin-left:1.9%;
												margin-bottom: 0;
											}
											@media #{$small-only} { 
												margin-right:1.73%;
												margin-left:1.72%; 
											}
											@media #{$large-up} {
												width: 28%;
												margin-right:1.9%;
												margin-left:1.9%;
											}
											

										}
										&.disable {
											display:none !important;
										}
									}
								}
								&#chooseStyle {
									button {
										@media #{$medium-down} {
											width: 32%;
											float: left;
											&:nth-child(2) {
												margin: 0 2% !important;
											}
										}
										@media #{$small-only} {
											font-size: rem-calc(13);
										}
									}
									button, .button {
										margin-bottom: rem-calc(5);
										.fa-check {
											right: 4%;
										}
									}
								}
								&#chooseFabricMaterial {
									button {
										@media #{$medium-down} {
											width: 32%;
											float: left;
											&:nth-child(3) {
												margin: 0 2% !important;
											}
										}
										@media #{$small-only} {
											font-size: rem-calc(13);
										}
									}									
								}
							}
						}
					}
				}
				
			}
			.infoBuilderBox {
					position:absolute;
					top: 0px;
					min-height: 100%;
					max-height: 100%;
					width: 350px;
					padding: 0;
					color: #fff;
					z-index: -2;
					@include simple-transition(all,150ms);
					@include new_opacity(0);
					h1, h2, h3, h4, h5, h6, p, a {
						color: #fff;
						@include oswald;
					}
					.name.yellow {
						@include oswald;
						font-weight: 300;
					}
					p {
						@include lato;
						line-height: 1.5;
						font-size: rem-calc(14);
						color: $light-grey;
					}
					.UIInfoClose {
						position: absolute;
						top: 9px;
						right: 20px;
						font-size: 21px;
						@include transform-rotate(45deg);
						@include new_opacity(0);
						-webkit-border-radius:  24px;
					       -moz-border-radius:  24px;
						        border-radius:  24px;

						-webkit-background-clip:    padding-box; 
						       -moz-background-clip:    padding; 
						        background-clip:    padding-box;

						behavior: url('../HTC/PIE/PIE.htc');
						background-color: rgba(0,0,0,.5);
						padding: 2px 4px;
						&.rightInfo {
							top: 6px;
							right: auto;
							left:8px;
						}
					}
					&.fa-stop:before {
						position:absolute;
						@include transform-rotate(45deg);
						overflow: visible;
						color: rgba(0, 0, 0, 0.8);
						display: none;
						z-index: -1;
					}
					&.right {
						left:-999px;
						&.fa-stop:before {
							bottom: 4%;
							left: -7px;
						}
						&.selected {
							left: 0;
							@media #{$medium-down} { 
								width: 100%;
								z-index: 99999;
								
							}
							@media #{$large-up} {
								left:259px;
								//overflow: visible;
								&.fa-stop:before { display:block; }
							}
						}
					}
					&.left {
						right:-999px;
						// padding: 6px 15px 15px 15px;
						&.fa-stop:before {
							bottom: 4%;
							right: -6px;
						}
						&.selected {
							right: 0;
							@media #{$medium-down} { 
								width: 100%;
								z-index: 99999;
								
							}
							@media #{$large-up} {
								right:259px;
								//overflow: visible;
								&.fa-stop:before {
									display: block;
								}
							}
						}
						p {
							font-size: rem-calc(14);
							// max-height: 100%;
							// overflow-y: auto;
							// padding-top: 3px;
							// padding-right: 3px;
							line-height: 1.25;
						}
					}
					
					
					.scroll {
						padding: 6px 15px 15px 15px;
						overflow:auto;
						max-height:100%;
						box-sizing: border-box;
						background:rgba(0,0,0,.8);
					}
					&.selected {
						z-index: 99999999;
						@include new_opacity(1);
						max-height: 100%;
						.scroll {

						}
						.UIInfoClose {
							@include new_opacity(1);
						}
					}
					
					&.infoWind {
						height: 100%;
						max-height:100%;
						.windAndSnow {
							width: auto;
							height: 86%;
							margin: 4px 4% 4px 0;
							&.small {
								width:25%;
								max-width:25%;
								height: auto;
								margin: 4px 4% 4px 4%;
							}
						}
					}
				}
		}
	}
	#build_FabricColor, .color {
			button, .button, .btnFabricColor {
				&[data-value="GY"], &[data-value="GN"], &[data-value="TN"], &[data-value="WE"], &[data-value="CR"], &[data-value="BN"], &.Green, &.Gray, &.Tan, &.White, &.Clear, &.Brown, &.HunterGreen {
					text-shadow: 0px 0px 5px #000;
					background-attachment: fixed;
					background-size:cover;
				    background-position: center center;

				    @media #{$medium-down} {background-attachment: scroll;}
				        
					-ms-behavior: url(../HTC/background-size-polyfill/backgroundsize.min.htc);
				}
				&[data-value="GY"], &.Gray {
					background-color:#8c8c8c;
					background-image:url('../images/src/color/GY.jpg');
				}
				&[data-value="GN"], &.Green {
					background-color:#1f493a;
					background-image:url('../images/src/color/GN_PVC.jpg');
				}
				&[data-value="TN"], &.Tan {
					background-color:#f2ce91;
					background-image:url('../images/src/color/TN.jpg');
				}
				&[data-value="WE"], &.White {
					background-color:#ffffff;
					background-image:url('../images/src/color/WE.jpg');
					//color:#ccc;
				}
				&[data-value="CR"], &.Clear {
					background-color:#ffffff;
					background-image:url('../images/src/color/CR.jpg');
					//color:#ccc;
				}
				&[data-value="BN"], &.Brown {
					background-color:#4e3312;
					background-image:url('../images/src/color/BN.jpg');
				}
				&[data-value="HG"], &.Hunter_Green {
					background-color:#4e3312;
					background-image:url('../images/src/color/GN_PVC.jpg');
				}										
			}
		}
	.align-center {
		&.STlogo {
			width: 100px;
			height: 45px;
			overflow: visible;
			margin-left: auto !important;
			margin-right: auto !important;

			@media #{$small-up} { width: 200px; margin-left:0px; text-align:left; }
			@media #{$medium-up} { width: 250px; margin-left:auto; }
			@media #{$large-up} { width: 416px; }
			body.firefox & {
				width: 323px;
			}
		}
		margin: 0px auto;
		@media #{$small-up} { margin: 0; }
		@media #{$medium-up} { margin: 5px auto; }
		@media #{$large-up} { margin: 7px auto; }
		.title {
			line-height: 1;
			&.main {
				position:relative;
				.madeText {
					position: absolute;
					right: -18px;
					display: block;
					top: -1px;
				}
			}
			&.modal { }
		}
	}
	#img_thumbs {
		position: absolute;
		z-index: 99999999;
		right: -58px;
		width: 49px;
		max-height: 100%;
		.clearing-thumbs, [data-clearing] {
			li {
				//float: none;
				margin-right: 0px;
				max-width: 100%;
				//display: inline;
				a {
					img {
						@include thumb_radius;
						@include thumb_border;
						margin-bottom: 5px;
					}
				}
			}
		}
		.videoModal img {
			@include thumb_radius;
			@include thumb_border;
			max-width: 100%;
		}
		.clearing-blackout {
			background: rgba(0,0,0,.8);
			.clearing-container {
				.visible-img, .carousel {
					background: none;
				}
			}
		}
		.reBuildImages {
			display: none;
		}
	}
	#videoModal {
		overflow: visible;
		.close-reveal-modal {
			top: -50px;
			right: -27px;
		}
	}
	&.firefox {
		.align-center {
			&.STlogo {
				width: 326px;
			}
		}
	}
	&.safari {}
	&.internet {}
	&.chrome {}
	&.presto {}
	&.desktop {
		#building {
			position:relative;
			z-index: -1;
			overflow: hidden;
			width:100%;
			&.loading {
				//display: none;
			}
			img {
				@include simple-transition(all,500ms);
				height:auto;
				position:absolute;
				
				@media #{$medium-down} {
					top:35%;left:50%;
					//max-width:125%;
					//width: 113%;
				}
				@media #{$large-up} {
					top:50%;left:50%;
				}
			}
			
		}
	}
	&.mobile {
		#building {
			position:relative;
			z-index: -1;
			overflow: hidden;
			width:100%;
			@include simple-transition(all,1000ms);
			&.loading {
				//display: none;
				@include simple-transition(all,1000ms);
				@include new_opacity(.0);
			}
			img {
				@include simple-transition(all,1000ms);
				height:auto;
				position:absolute;
				max-width:125%;
				width: 113%;
				@media #{$medium-down} {
					top:30%;left:50%;
				}
				@media #{$large-up} {
					top:40%;left:50%;
				}
			}
			
		}
	}
	@for $i from 0 through 20 {
		&.Length_#{$i} {
			#building img {
				max-width:125%;
				width: 113%;					
			}
		}
	}
	@for $i from 21 through 39 {
		&.Length_#{$i} {
			#building img {
				max-width:125%;
				width: 113%;					
			}
		}
	}
	@for $i from 40 through 59 {
		&.Length_#{$i} {
			#building img {
				max-width:115%;
				width: 103%;					
			}
		}
	}
	@for $i from 60 through 79 {
		&.Length_#{$i} {
			#building img {
				max-width:105%;
				width: 93%;
			}
		}
	}
	@for $i from 80 through 100 {
		&.Length_#{$i} {
			#building img {
				max-width:95%;
				width: 83%;
			}
		}
	}
	@media #{$large-up} {
		@for $i from 0 through 20 {
			&.Length_#{$i} {
				#building img {
					max-width:100%;
					width: 100%;					
				}
			}
		}
		@for $i from 21 through 39 {
			&.Length_#{$i} {
				#building img {
					max-width:90%;
					width: 90%;					
				}
			}
		}
		@for $i from 40 through 59 {
			&.Length_#{$i} {
				#building img {
					max-width:80%;
					width: 80%;					
				}
			}
		}
		@for $i from 60 through 79 {
			&.Length_#{$i} {
				#building img {
					max-width:70%;
					width: 70%;
				}
			}
		}
		@for $i from 80 through 100 {
			&.Length_#{$i} {
				#building img {
					max-width:60%;
					width: 60%;
				}
			}
		}
	}
	//modal 
	.reveal-modal {
		&.full {
			max-width: 100%;
			overflow-x: hidden;
		}
		background: none;
		box-shadow: none;
		border: none;
		z-index: 99999999999999;
		max-height: 98%;
		overflow:auto; 
		padding: 0;
		h1, h2, h3, h4, h5, h6, p, span, i, em, strong, b, .close-reveal-modal, * {
			color:#fff;

		}
		
		@media #{$medium-down} {
			h1, h2, h3, h4, h5, h6, p.lead {
				line-height: 1;
			}
		}
		.button, button {
			color:$shelter-grey;
			&:hover {
				color:#fff;
			}
		}		
		h2, h4 {
			@include oswald;
			text-transform: uppercase;
			font-weight: 400;
			margin: 8% 0 4%;
			font-size:20px;
			@include new_opacity(0);
			@include simple-transition('all', 500ms);
			display: inline-block;
			width: 100%;
			
			text-align: justify;
		}
		h4 {
			font-weight: 300;
			margin: 4% 0 2%;
			line-height: 1.2;
			color:$shelter-yellow;
		}
		p {
			padding: 0;
		}
		.input-box, .input-text {
			color: $shelter-grey;
			font-style: normal !important;
		}
		a {
			&:hover {
				color: $shelter-yellow;
			}
		}
		&#contactModal {
			#contactTable {
				@include lato;
				font-weight: 300;
				strong {
					@include oswald;
					font-weight: 400;
					font-size: rem-calc(19);
				}
				#contactBlock {
					margin: 20px 0;
					@include new_opacity(.9);
					#description {
						.fa {
							float: left;
							margin-top: 28px; 
							margin-right: 20px; 
							font-size: rem-calc(34);
						}
						span {
							display:block;
							width: 100%;
							clear:both;
						}
					}
					.fa-mobile {
						color:$shelter-yellow;
						font-size: rem-calc(37);
						margin-right: 10px; 
					}
					.phone {
						@include oswald;
						font-weight: 400;
						font-size: rem-calc(30);
						letter-spacing: 1px;
					}
					.address {
						@include new_opacity(.8);
						.block {
							display: block;
						}
					}
				}
			}
		}
		&#quoteModal {
			.totals {
				margin-top: 20px;
				display: none;
				.actual {
					display: internet;
				}
				.calcPrice {
					font-size: rem-calc(30);
					text-align: right;
				}
				.subtotal {
					font-size: rem-calc(12);
					color: $light-grey;
					text-transform: uppercase;
					padding-right: 20px;
				}
			}
			
			.accordion {
				background: $shelter-grey;
				.panelnav {
					background:none;
					color: #FFF;
					@include oswald;
					font-weight: 400;
					text-transform: uppercase;
				}
				.content {
					background: none;
					font-size: rem-calc(15);
					font-weight: 300;
					padding-top:0px;
					.spacing {
						padding-bottom: 8px;
						margin-bottom: 5px;
						border-bottom: 1px solid #DDDDDD;
						@include lato;
						&:last-child {
							border-bottom:0px;
							margin-bottom:0px; 
							padding-bottom:0px;
						}
						.cap {
							text-transform: uppercase;
							@include oswald;
						}
					}
					#FabricMaterialSelected {
						.attribute {
							font-size: rem-calc(12);
							margin-top: 1%;
						}
					}
				}
			}
			#infoTable {
				.columns {
					margin: 30px 0 0;
					&.small-10 {
						text-align: justify;
						.fa {
							font-size: rem-calc(37);
							margin-right: 3px;
							color: $shelter-yellow;
						}
						span {
							font-size: rem-calc(18.5);
							font-weight: 100;
							&.phone {
								font-weight: 400;
								font-size: rem-calc(30);
							}
						}
					}
					&.small-2 {
						padding: 15px 0 0 0;
						font-size: rem-calc(26);
					}
				}
			}
		}
		.features, .warranty {
			h3 {
				font-weight: 400;
				text-transform: uppercase;
				font-size: rem-calc(20);
				@include oswald;
				margin: 0px;
				color: #fff;
			}
			h5 {
				font-size: rem-calc(22);
				font-weight: 300;
				text-transform: uppercase;
				color: $shelter-yellow;
			}
			h6 {
				text-transform: uppercase;
				font-weight: 300;
			}
			.small-9 {
				p {
					&.contactSmall {
						border-bottom:0px;
						margin-bottom:0; 
						padding: 14px 0;
					}
				}
			}
			.small-3 {
				img {
					width: 100%;
					height:auto;
				}
			}
			.terms {
				p {
					&.contactSmall {
						border-bottom:0px;
						margin-bottom:0; 
						padding: 0px 0 20px;
					}
				}
			}
			.features_set {
				.row {
					padding-bottom: 5px;
				}
			}
			.data-table {
				thead, th, tbody td {
					background: none;
					border-bottom: none;
				}
				tbody td, tfoot td {
					@include lato;
				}
				tbody th {
					color: #ffffff;
					font-size: rem-calc(18);
					font-weight: 400;
				}
			}
		}
		&#startModal {
			h2, h4 {
				text-align: center;

			}
			#startStyle {
				text-align: center;
				margin-top: 1.8%;
				img {
					cursor: pointer;
					width: 100%;
					&#startBarn {}
					&#startPeak {}
					&#startRound {}
				}
				.buttonContainer {
					button {
						max-width: 90%;
						display: block;
						margin: 15px auto;
					}
				}
				.styleImages {
					max-width: 1500px;
					margin: 0 auto;
				}
				.style { 
					width: 33.3333%; 
					background-size: 100%; 
					background-image: url('../images/src/startModal/style-sprite-2.jpg'); 
					margin: 0 -0.11111%;
					display:inline-block;
					position: relative;
					overflow: hidden;
					button, .button {
						// position: absolute;
						// top: 50%;
						// left: 50%;
						//width: 50%;
						border:2px solid $shelter-yellow;
						background: none;
						color: #fff;
						text-transform: uppercase;
						&:hover {
							background-color:$shelter-yellow;
							.styles & {
								.style { 
									background:#fff;
								}
							}
						}
					}
					&.barn { 
						background-position: 0 20%; 
						background-size: 100%; 
						&:hover {
							background-position: 0 0%; 
							background-size: 100%;
						}
					}
					&.peak { 
						background-position: 0 60%; 
						background-size: 100%; 
						&:hover {
							background-position: 0 40%; 
							background-size: 100%;
						}
					}
					&.round {
						background-position: 0 100%; 
						background-size: 100%;
						&:hover {
							background-position: 0 80%; 
							background-size: 100%;
						}
					}
					.styleText {
						position:absolute;
						width: 100%;
						bottom: -60%;
						min-height: 100%;
						max-height: 100%;
						padding: 18% 10%;
						@include simple-transition(all,500ms);
						span {
							&.name {
								font-size: rem-calc(30);
							}
						}
						p {
							font-size: rem-calc(16);
						}
					}
					&:hover {
						.styleText { 
							bottom: 0; 
							@media #{$styletext-down} {
								bottom: 17%;
							}
						}
					}
				}
			}
		}
		
		p {
			@include lato;
			font-weight:300;
			font-size: rem-calc(20);
			&.contactSmall {
				font-size: rem-calc(16);
			}
			&.made-in {
				margin: 30px auto 50px;
				text-align: center;
				font-size: 15px;
				margin: 0;
				padding: 10px;
				border: 0px;
				img { margin:0 5px; }
			}
			&.warrantyLegal {
				color: $light-grey;
				@include new_opacity(.8);
				font-size: rem-calc(14);
				border:0px;
				padding:0;
			}
		}
		.row { 
			max-width: 1045px; 
			&#startStyle {
				max-width: 100%;
			}
			.border-right {
				max-width: 100%;
				padding-right: 9%;
				border-right: 1px solid $grey;
			}
			.columns {
				> .columns {

					&:first-child { padding-left: 0; }
					&:last-child { padding-right: 0; }
					@media #{$medium-down} {
						padding:0;
					}
				}
			}
		}
		.STlogo {
			color:#fff;
			margin-top: 10px;
			//text-align: center;
			.modal { margin-left: -28%; }
			.yellow { color: $shelter-yellow; }

		}
		&#diagramModal {
			#theDiagram {
				margin: 0 auto;
				display: block;
			}
		}
		#warrantyModal {
			.color {
				.btnFabricColor {
					@include simple-transition(all,200ms);
					box-sizing:border-box;
					width: 11.18%;
					margin-left: 3%;
					text-align: center;
					display: inline-block;
					vertical-align: middle;
					color: #fff;
					padding: 2% 2%;
					border: 0px;
					line-height: .75;
					span {
						position:relative;
						top: 26%;
						left: auto;
						:nth-child(3) & {
							top: 20%;
						}
					}
					&:nth-child(3) span {
						top: 12%;
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		&.open {
			h2, h4 {
				@include new_opacity(1);
			}
		}
		@include table;
	}
	@include table;
	.reveal-modal-bg {
		background:rgba(0,0,0,.8);
		z-index: 999999999;
	}
	//end modal
	.UI {
		&.expand.button {
			.fa-check {
				@include radius(100px);
				background:rgba(0,0,0,.5);
				padding: 5px;
				@include simple-transition(all,200ms);
				@include inset-shadow();
				@include new_opacity(0);
				z-index: -10;
				@include centering(45%, 50%, 37%, 43%);
				
			}
			&.textLeft {
				text-align: left;
				padding-left:12px;
				.fa-check {
					right: 10px;
				}
			}
			&.textRight {
				text-align: right;
				padding-right:12px;
			}
			@include textCenter;
			&.selected {
				.fa-check {
					@include new_opacity(.7);
					z-index: 999999999;
				}
			}

		}
	}
	.tab-bar {
		.fa.fa-shopping-cart {
			position: relative;
			font-size: rem-calc(25);
			font-style: normal !important;
			margin: 10px;
			span {
				position: absolute;
				top: -5px;
				right: -9px;
				font-size: rem-calc(7);
				background: $shelter-yellow;
				padding: 3px 2px 2px 1px;
				//border: 1px solid $shelter-grey;
				color: $shelter-grey;
				width: 16px;
				height: 16px;
				text-align: center;
				-webkit-border-radius:      10px;
		           -moz-border-radius:  10px;
		        		border-radius:      10px;

				-webkit-background-clip:    padding-box; 
		           -moz-background-clip:    padding; 
		        		background-clip:    padding-box;
				behavior: url('../HTC/PIE/PIE.htc');
			}
		}
		.help {
			margin-left: 10px;
			@media #{$medium-down} {
				display: none;
			}
		}
		.fa.fa-user {
			position: relative;
			font-size: 1.5625rem;
			font-style: normal !important;
			margin: 10px;
			float: none;
			padding:0px;
		}
		.right-icons {
			top: 0;
			position: absolute;
			right: 10px;
		}
		.tab-bar-section {
			&.right {
				right: 0;
			}
		}
	}
	.page {

		label {
			vertical-align: top;
			padding-top: 11px;
		}
		@mixin page_buttons() {
			background-color: #fff;
			border-color: #fff;
			color: $shelter-grey;
			@include simple-transition(all, 500ms);
			font-size: rem-calc(13);
			span {
				span {
					.fa {
						font-size: rem-calc(14);
					}
				}
			}
		}
		@mixin page_action_button() {
			&:hover {
				background-color: $shelter-grey;
				border-color: $shelter-grey;
				color: $shelter-yellow;
				span {
					span {
						color: $shelter-yellow;
					}
				}
				@include simple-transition(all, 500ms);	
			}
		}
		button {
			&.btn-empty, &.btn-update, &.btn-continue {
				@include page_buttons;
			}
			&.btn-empty {
				
				&:hover {
					background-color: #f04124;
					border-color: #cf280e;
					color: #FFFFFF;
					@include simple-transition(all, 500ms);	
				}
			}
			&.btn-update, &.btn-continue {
				&:hover {
					background-color: $shelter-yellow;
					border-color: $shelter-yellow;
					color: $shelter-grey;
					@include simple-transition(all, 500ms);	
				}
			}&.btn-proceed-checkout {
				background-color: $shelter-yellow;
				border-color: $shelter-yellow;
				color: #ffffff;
				@include simple-transition(all, 500ms);
				&:hover {
					background-color: $shelter-grey;
					border-color: $shelter-grey;
					color: #ffffff;
					@include simple-transition(all, 500ms);	
				}
			}
			span {
				span {
					width: 100%;
					.fa {
						display:block;
						float: left;
						font-size: 22px;
						margin: -1% 5px -5% 0;
						&.fa-shopping-cart {
							font-size: 26px;
						}
					}
				}
			}
		}
		a {
			&.check-gc-status {
				margin: 13px auto;
				width: 100%;
				text-align: center;
			}
		}
		table {
			tr {
				td {
					color:$shelter-grey;
					text-align: left;
				}
			}
			&.warrantyTable {
				td {
					text-align: center;
					&:first-child {text-align:left;}
				}
			}
		}
		#discount-coupon-form label, .cart .giftcard label {
			vertical-align: top;
			margin-top: 5px;
		}
		#discount-coupon-form, .cart .giftcard {
			.field-wrapper {
				display: block;
				input {
					display: inline;
					padding: 18px;
					width: 57%;
				}
				.button-wrapper {
					width: 39.6%;
					button {
						width: 100%;
						text-align: center;
					}
				}
				
			}
			.button2 {
					@include page_buttons;
					@include page_action_button;
				}
		}
	}
	.main-container {
		padding: 70px 30px 20px;
		ul {
			margin:0;
		}
	}
	.product-img-box .product-image img {
		max-height: auto;
		width: 100%;
	}
	.breadcrumbs {
		margin-top: 0px;
		border-radius:0;
		border:0px;
		background-color:rgba(0,0,0,.5);
		color:#fff;
		position: fixed;
		top: 45px;
		left: 0;
		width: 100%;
		z-index: 999999;
		&>* {
			color:#fff;
		}
		a {
			color:#fff;
			&:hover {
				color:#fff;
				text-decoration: underline;
			}
		}
		strong {
			color: $shelter-yellow;
		}
	}
	.product-view .product-shop .product-name .h1, .product-view .product-img-box .product-name h1 {
		color: $shelter-grey;
	}
	.link-wishlist { display:none; }
	&.checkout-cart-index {
		.page {
			.main-container {
				@media #{$large-up} { max-width: 95%; }
				.cart-forms, .cart-totals-wrapper, .crosssell {
					@media #{$large-up} { width: 29%; }
				}
				table {
					&#shopping-cart-totals-table {
						tr {
							td {
								color:#000;
								padding: 3%;
							}
						}
					}
					&.cart-table {
						@media #{$large-up} { width: 70%; }
						margin-bottom: 100px;
						.product-cart-image, .product-cart-actions  {
							.cart-links, .button {
								display: block;
							}
						}
						.product-cart-actions .qty {
							height: 33px;						
							@media #{$large-up} { float: left; }
							margin-right: 5px;
						}
						.cart-links {
							margin-left: 0px;
							li {
								a {
									text-align: left;
								}
							}
						}
					}
					&.data-table {
						thead {
							border-right: 1px solid;
							border-left: 1px solid;
						}
						tr {
							@media #{$large-up} {
								th {
									&:first-child {
										width:25%;
									}
									&:nth-child(4) {
										width: 30%;
									}
									&:nth-child(2) {
										width: 23%;
									}
									&.cart-total-head {
										width: auto;
									}
									&:last-child {
										width:3%;
									}
								}
							}
						}
						
						tbody {
							td {
								dl.item-options {
									margin-left: 0;
									margin-top: 10px;
									padding: 0;
									dt {
										display: block;
										width: 100%;
										min-width: 100px;
										background: $shelter-grey;
										color: #fff;
										padding: 2px 5px;
									}
									dd {
										padding: 2px 5px;
										font-size: 12px;
									}
								}
								&.product-image {
									display: inline-block;
									img {
										max-width: 190px;
									}
								}

							}
						}
					}
				}
			}
		}
	}
	
	.header-minicart {
		.block-subtitle {
			color:$shelter-grey;
		}
		.skip-cart{
			position: inherit;
			display: none;
		}
		.minicart-actions {
			.cart-link {
				position:inherit;
				float: left;
				color: $shelter-yellow;
				margin-top: 24px;
			}
			.checkout-button {
				color:$shelter-yellow;
				&:hover {
					color: $shelter-grey;
				}
			}
		}
		.mini-products-list {
			margin: 0;
			padding:0;
			li {
				margin:0px;
				padding:0px 10px;
				&.last {

				}
				.product-details {
					.product-name {
						text-align: left;
						a {
							color: $shelter-grey;
						}

					}
					.info-wrapper {
						tr {
							th {
								font-size: 1rem;
								padding: 5px 0;
							}
							td {
								margin:0px;
								padding:0px;
								color: $shelter-grey;
								.button{
									padding-top:5px;
									padding-bottom:5px;
									margin:0px;
								}
							}
						}
					}
				}
			}
		}
		.subtotal {
			.price { color: $shelter-grey; }
		}
	}
	
	#header-account.skip-active, #header-cart.skip-active {
		position: absolute;
		top: 45px;
		right: 0;
		a {
			text-align: left;
		}
	}
	.skip-account {
		right: auto;
	}
	// utility classes
	.box-shadow {
		-moz-box-shadow: 0px 0px 8px rgba(68,68,68,0.6);
		-webkit-box-shadow: 0px 0px 8px rgba(68,68,68,0.6);
		box-shadow: 0px 0px 8px rgba(68,68,68,0.6);

		filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
		-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
		zoom: 1;
	}
	.op_0, &.op_0 {
		@include new_opacity(0);
		@include simple-transition(all,500ms);
	}
	.op_10, &.op_10 {
		@include new_opacity(1);
		@include simple-transition(all,500ms);
	}
	.op_5, &.op_5 {
		@include new_opacity(.5);
		@include simple-transition(all,500ms);
	}
	
	.align-left { text-align: left; }
	.align-right { text-align: right; }
	.align-center { text-align: center; }
	.justify { text-align:justify; }
	.no-break { margin-right: -100px; }
	.nomar { margin: 0px !important; }
	.nomar-top { margin-top: 0px !important; }
	.nomar-left { margin-left: 0px !important; }
	.nomar-right { margin-right: 0px !important; }
	.nomar-bottom { margin-bottom: 0px !important; }
	.nopadd { padding: 0px !important; }
	.nopadd-top { padding-top: 0px !important; }
	.nopadd-left { padding-left: 0px !important; }
	.nopadd-right { padding-right: 0px !important; }
	.nopadd-bottom { padding-bottom: 0px !important; }
	.padd-top-40 { padding-top: 40px; }
	.padd-top-30 { padding-top: 30px; }
	.padd-top-20 { padding-top: 20px; }
	.padd-top-10 { padding-top: 10px; }
	.padd-bottom-40 { padding-bottom: 40px; }
	.padd-bottom-30 { padding-bottom: 30px; }
	.padd-bottom-20 { padding-bottom: 20px; }
	.padd-bottom-10 { padding-bottom: 10px; }
	.padd-vert-40 { padding-top: 40px; padding-bottom: 40px; }
	.padd-vert-30 { padding-top: 30px; padding-bottom: 30px; }
	.padd-vert-20 { padding-top: 20px; padding-bottom: 20px; }
	.padd-vert-10 { padding-top: 10px; padding-bottom: 10px; }
	#footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 10px 10px;
		color: #fff;
		@include lato;
		font-weight: 400;
		font-size: rem-calc(16);
		background:$nav-bg;
		height: 48px;
		z-index: 9999999;
		img {
			margin-right: 40px; 
			max-height: 100%;
			float: left;
		}
		a {
			color: rgba(255,255,255,.9);
			@include oswald;
			font-weight: 400;
			&:hover {
				color: rgba(255,255,255,1);
			}
		}
		.termsPrivacy {
			float: right;
			a {
				padding: 0 0 0 30px;
			}
		}
		.defaultfooter {
			display: none;
		}
		@media (max-height:818px)  { display: none; }
	}

	&.page-configurator {
		#footer {
			text-shadow: 0px 0px 5px #000;
		}
	}
	&.product-sp-series-shelter {
		#footer {
			background:none;
			padding: 20px 35px;
			height: auto;
			@media only screen and (max-height: 700px) { display:none; }
		}
	}
	.webforms {
		form {
			.buttons-set {
				.required {
					display: none;
				}
			}
			.form-list {
				margin-left: 0;
			}
			.legend { display: none; }
			button, .button {
				color: $shelter-grey;
				background-color:$shelter-yellow;
				border:2px solid $shelter-yellow;
			}
			.webforms-fields-comment {
				display:none;
			}
		}
	}
	&.checkout-onepage-index {
		.button {
			&.btn-checkout {
				display:none;
			}
		}
		.webforms-fields-send-cart-subject, .webforms-fields-send-cart-cart-data, .webforms-fields-send-cart-customer-data {
			display:none;
		}
	}
	&.cms-home, &.cms-page-view, &.cms-no-route {
		header, .header {
			margin-top: -57px;
			.row {
				.column {
					img {
						max-width: 120%;
						width: 105%;
						margin-left: -2.5%;
						margin-right: -2.5%;
					}
				}
			}
		}
		.three-up {
			@media #{$medium-up} { margin-top:-10%; }
			background: rgba(255,255,255,.7);
		}
		.warrantyTable {

		}
		.std {
			p{
				color: inherit;
				font-family: inherit;
				font-size: inherit;
				font-style: inherit;
				line-height: inherit;
				@include lato;
				font-size: 1.08rem;
				letter-spacing: normal;
			}
			h1, h2, h3, h4, h5, h6 {
				color: inherit;
			}
		}
	}
	.testimonials {

		.quote {
		  background: $shelter-yellow;
		  padding: 15px 20px 5px 15px;
		  border-radius: 5px;
		  margin-bottom: 30px;
		  &:after {
		    content: '';
		    width: 0px;
		    height: 0px;
		    border-style: solid;
		    border-width: 20px 18px 0 18px;
		    border-color: $shelter-yellow transparent transparent transparent;
		    position: relative;
		    top: 37px;
		    left: 20px;
		  }
		}

		.person {
		  margin-left: 25px;
		  margin-bottom: 80px;
		  .photo{
		    background-color: $shelter-grey;
		    border-radius: 100px;
		    width: 60px;
		    height: 60px;
		    float: left;
		    margin-right: 10px;
		    overflow: hidden;
		  }
		  p{
		    position: relative;
		    top: 5px;
		    text-transform: uppercase;
		    &:nth-child(2) {
		      font-size: 16px;
		      font-weight: 600;
		      margin-bottom: 0;
		    }
		    &:nth-child(3) {
		      font-size: 14px;
		      color: $shelter-grey;
		    }
		    &.white {
		    	color:#fff;
		    }
		  }
		}
	}
	.card {
		position: relative;
		padding: 0;
		-webkit-perspective: 5000;
		perspective: 5000; 
		.container {
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transition: 1s;
			transition: 1s;
			margin: 0 0 20px; 
			.front, .back {
				width: 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden; 
				.row, .column, .columns {
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}
			}
			.front {
				z-index: 2;
				img {
					width: 100%;
				}
			}
			.back {
				position: absolute;
				height: 100%;
				left: 0;
				top: 0;
				overflow-y: auto;
				-webkit-transform: rotateY(180deg);
				transform: rotateY(180deg);
				padding: 1em; 
				p {
					font-size: 1rem;
				}
			}
			&:hover {
				-webkit-transform: rotate3d(0, 1, 0, 180deg);
				transform: rotate3d(0, 1, 0, 180deg); 
				box-shadow: 0px 4px 117px rgba(0,0,0,.9);
				border: none;
			}
		}
		&.square { 
			.container {
				width: 100%;
				height: 0;
				padding-bottom: 100%; 
			}
		}
	}
	&.form-short {
		@media #{$medium-down} {
			.inner-wrap .elements.leftSide .UIBottom {
				margin-bottom: 45px;
			}
		}
	}            	              
	.bg-yellow {
		background-color:$shelter-yellow;
		&#calltoaction {
			.button:hover { background-color: $shelter-blue;}
		}
	}
	.bg-drk-grey {
		background-color:$shelter-grey;
		color:#fff;
		h1, h2, h3, h4, h5 {
			color:#fff;
		}
		&.alert-box {
			border-color:$shelter-grey;
		}
	}
	.bg-blue {
		background-color:$shelter-blue;
	}
	.yellow { color: $shelter-yellow; }
	.white { color: #fff; }
	.drk-grey { color:$shelter-grey; }
	.drk-grey-5 { color:rgba($shelter-grey, 0.5); }
	.drk-grey-6 { color:rgba($shelter-grey, 0.6); }
	.drk-grey-7 { color:rgba($shelter-grey, 0.7); }
	.drk-grey-8 { color:rgba($shelter-grey, 0.8); }
	.drk-grey-9 { color:rgba($shelter-grey, 0.9); }

	.blue { color:$shelter-blue; }
	.button.btnColor {
		color:#fff;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0px;
		width: 83px;
	}
	.textCenter {
		@include textCenter;
	}
	.no-border, .no-border:hover, .no-border.active { border: none; }
	.button.columns { margin-left: 0; }
	.row.orbit-links {
		margin-top: 13px;
		box-sizing: border-box;
		.button {
			margin-bottom:0;
		}
	}
	.orbit-slides-container {
		h2 { margin-top:0; color: $shelter-yellow; }
		.row {
			.large-centered {
				.columns:first-child {
					max-height: 125px;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
			}
		}
	}
	.bullets {
		p {
			padding-left:rem-calc(61);
			.fa {
				display: block;
				float: left;
				margin-top: rem-calc(3);
				font-size: rem-calc(40);
				margin-left: rem-calc(-60);
			}
		}
	}
	.parallax {
		&.bg-steelshop {
			background: url(../images/src/home-page/steelshop.jpg) top center no-repeat;
			background-size: cover;
			color: #fff !important;
			@media  #{$medium-down} {
				background: url(../images/src/home-page/steelshop-skinny.jpg) top center no-repeat;
			}
		}
	}
	@for $i from 0 through 9 {
		.k-#{$i} { background:rgba(0,0,0, .1* $i); }
	}
	#notifier {
		position: fixed;
		top: 45px;
		right: 0px;
		width: 100%;
		z-index: 999999999999999999999999;
		.alert-box {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
			&.alert {
				background: $shelter-yellow;
				color: $shelter-grey;
				border-color:$shelter-yellow;
			}
			&#calltoaction {
				h3 {
					margin-right: 10px;
					vertical-align: middle;
  					margin-top: 9px;
				}
				.button {
					margin: 0;
				}
			}
		}

	}
	.store-language-container {
		display:none;
	}
}

.highlight{    
    animation: shadowThrob 0.6s infinite;
    animation-direction: alternate;
    -webkit-animation: shadowThrob 0.6s ease-out infinite;
    -webkit-animation-direction: alternate;
}
@keyframes shadowThrob {
	from {box-shadow: 0 0 30px 10px rgba($shelter-grey, 0.9);}
	to {box-shadow: 0 0 30px 10px rgba($shelter-grey, 0.2);}
}
@-webkit-keyframes shadowThrob {
	from {box-shadow: 0 0 30px 10px rgba($shelter-grey, 0.9);}
	to {box-shadow: 0 0 30px 10px rgba($shelter-grey, 0.2);}
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;

  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background: $shelter-grey;
  color: $shelter-yellow;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;

  -webkit-animation: pace-3d-spinner linear infinite 2s;
  -moz-animation: pace-3d-spinner linear infinite 2s;
  -ms-animation: pace-3d-spinner linear infinite 2s;
  -o-animation: pace-3d-spinner linear infinite 2s;
  animation: pace-3d-spinner linear infinite 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

@-webkit-keyframes pace-3d-spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes pace-3d-spinner {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}

@-ms-keyframes pace-3d-spinner {
  from {
    -ms-transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }
}

@-o-keyframes pace-3d-spinner {
  from {
    -o-transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(360deg);
  }
}

@keyframes pace-3d-spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}