<?xml version="1.0"?>
<config>
    <modules>
        <Gaboli_Warehouse>
            <version>1.2</version>
        </Gaboli_Warehouse>
    </modules>
    <global>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <warehouse_submit_all_after>
                        <class>Gaboli_Warehouse_Model_Observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </warehouse_submit_all_after>
                </observers>
            </checkout_submit_all_after>
        </events>
        <index>
            <indexer>
                <gaboli_warehouse>
                    <model>Gaboli_Warehouse_Model_Indexer</model>
                </gaboli_warehouse>
            </indexer>
        </index>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_simple>Gaboli_Warehouse_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml>
            <gaboli_warehouse>
                <class>Gaboli_Warehouse_Block</class>
            </gaboli_warehouse>
        </blocks>
        <helpers>
            <gaboli_warehouse>
                <class>Gaboli_Warehouse_Helper</class>
            </gaboli_warehouse>
        </helpers>
        <models>
            <gaboli_warehouse>
                <class>Gaboli_Warehouse_Model</class>
                <resourceModel>gaboli_warehouse_resource</resourceModel>
            </gaboli_warehouse>
            <gaboli_warehouse_resource>
                <class>Gaboli_Warehouse_Model_Resource</class>
                <entities>
                    <location>
                        <table>gaboli_warehouse_location</table>
                    </location>
                    <stores>
                        <table>gaboli_warehouse_stores</table>
                    </stores>
                    <stock>
                        <table>gaboli_warehouse_stock</table>
                    </stock>
                    <quote>
                        <table>gaboli_warehouse_quote_location</table>
                    </quote>
                    <stock_status_index>
                        <table>gaboli_warehouse_stock_status_index</table>
                    </stock_status_index>
                    <order_stock_source>
                        <table>gaboli_warehouse_order_stock_source</table>
                    </order_stock_source>
                </entities>
            </gaboli_warehouse_resource>
            <cataloginventory>
                <resourceModel>cataloginventory_resource</resourceModel>
                <rewrite>
                    <stock>Gaboli_Warehouse_Model_CatalogInventory_Stock</stock>
                    <observer>Gaboli_Warehouse_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock>Gaboli_Warehouse_Model_CatalogInventory_Resource_Stock</stock>
                    <stock_item>Gaboli_Warehouse_Model_CatalogInventory_Resource_Stock_Item</stock_item>
                    <stock_status>Gaboli_Warehouse_Model_CatalogInventory_Resource_Stock_Status</stock_status>
                </rewrite>
            </cataloginventory_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Gaboli_Warehouse_Model_Resource_CatalogSearch_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <resources>
            <gaboli_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gaboli_write>
            <gaboli_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gaboli_read>
            <gaboli_warehouse_setup>
                <setup>
                    <module>Gaboli_Warehouse</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gaboli_warehouse_setup>
        </resources>
        <mli_index_types>
            <simple>gaboli_warehouse/stock_status_index_simple</simple>
            <configurable>gaboli_warehouse/stock_status_index_configurable</configurable>
            <grouped>gaboli_warehouse/stock_status_index_grouped</grouped>
            <virtual>gaboli_warehouse/stock_status_index_virtual</virtual>
        </mli_index_types>
    </global>
    <frontend>
        <translate>
            <modules>
                <gaboli_warehouse>
                    <files>
                        <default>Gaboli/Warehouse.csv</default>
                    </files>
                </gaboli_warehouse>
            </modules>
        </translate>
        <layout>
            <updates>
                <gaboli_warehouse>
                    <file>gaboli/warehouse.xml</file>
                </gaboli_warehouse>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_apply_limitations_before>
                <observers>
                    <gaboli_warehouse_product_collection_apply_limitations_before>
                        <class>Gaboli_Warehouse_Model_Observer</class>
                        <method>catalogProductCollectionApplyLimitationsBefore</method>
                    </gaboli_warehouse_product_collection_apply_limitations_before>
                </observers>
            </catalog_product_collection_apply_limitations_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gaboli_warehouse before="Mage_Adminhtml">Gaboli_Warehouse_Adminhtml</gaboli_warehouse>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <gaboli_warehouse>
                    <files>
                        <default>Gaboli/Warehouse.csv</default>
                    </files>
                </gaboli_warehouse>
            </modules>
        </translate>
        <layout>
            <updates>
                <gaboli_warehouse>
                    <file>gaboli/warehouse.xml</file>
                </gaboli_warehouse>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <warehouse_product_save>
                        <class>Gaboli_Warehouse_Model_Admin_Observer</class>
                        <method>warehouseProductSave</method>
                    </warehouse_product_save>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>

    <default>
        <gaboli_warehouse>
            <general>
                <apiurl>http://maps.googleapis.com/maps/api/js?v=3</apiurl>
                <apisensor>1</apisensor>
                <direction>1</direction>
            </general>
        </gaboli_warehouse>
    </default>
</config>
